@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSans-Light-web.woff") format("woff"),
    url("../fonts/IRANSans-Light-web.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "IranSans";
  src: url("../fonts/IRANSans-Bold-web.woff") format("woff"),
    url("../fonts/IRANSans-Bold-web.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: IranSans, sans-serif;
  padding: 0;
  margin: 0;
}

.AppForm {
  border-radius: 10px;
  overflow: hidden;
}

.AppFormLeft {
  padding: 2rem;
}

.AppForm .AppFormLeft h1 {
  font-size: 35px;
}

.AppForm .AppFormLeft input {
  margin-block: 5px;
  border: 1px solid #8d334c !important;
  border-radius: 5px !important;
}

.AppForm .AppFormLeft input::placeholder {
  font-size: 15px;
}

.AppForm .AppFormLeft i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.AppForm .AppFormLeft a {
  color: #3a3e42;
}

.AppForm .AppFormLeft button {
  background: linear-gradient(45deg, #8d334c, #cf6964);
  border-radius: 30px;
}

.AppForm .AppFormLeft p span {
  color: #007bff;
}

.AppForm .AppFormRight {
  background-image: url("../img/login.webp");
  height: 450px;
  background-size: cover;
  background-position: center;
}

.AppForm .AppFormRight:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #8d334c, #cf6964);
  opacity: 0.5;
}

.AppForm .AppFormRight h2 {
  z-index: 1;
}

.AppForm .AppFormRight h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.AppForm .AppFormRight p {
  z-index: 1;
}
