/* START -------------------- MOJODI KALA STYLES---------------------------------- */
.search_container {
  display: flex;
  align-items: center;
}

.search_container span {
  padding-inline: 20px;
}
#MojodiSearch {
  width: 300px;
  padding: 10px;
}
.transfer {
  background-color: #c79772 !important;
}

.fs-20 {
  font-size: 20px;
}

.fs-13 {
  font-size: 13px;
}

.bold {
  font-weight: bold;
}
.cell-stock-move {
  font-size: 10px;
}
/* END -------------------- MOJODI KALA STYLES---------------------------------- */

/* START -------------------- MOJODI KALA REDIRECTION MODAL STYLES---------------------------------- */
#redirect {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000000000 !important;
}

.alertMessage {
  background-color: white;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#redirectMessage {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-block: 50px;
}

.btn {
  padding: 10px 10px;
  width: 80px;
  border-radius: 10px;
  color: white;
  border: none;
}

.btn-confirm {
  background-color: seagreen;
}

.btn-decline {
  background-color: red;
}

/* END -------------------- MOJODI KALA REDIRECTION MODAL STYLES---------------------------------- */
